{
  "extends": "eslint-config-egg",
  "root": true,
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "semi": [0],
    "comma-dangle": ["error", "never"],
    "quotes": ["error", "single"],
    "newline-per-chained-call": "off",
    "arrow-parens": "off",
    "node/prefer-promises/fs": "off",
    "jsdoc/require-param": "off"
  }
}
